/*@import "Components/Test/Test.css";*/body,html{min-height:100%;min-width:100%;color:#2a2a2a}body,html{background-color:#2a2a2a}body{background-color:#fff}body.neos-backend{min-width:50vw!important}section:after,section:before{content:'';display:table}section:after{clear:both}img{max-width:100%}.container{padding-top:30px;padding-bottom:30px}.basetype-grid,.basetype-grid h1,.basetype-grid h2,.basetype-grid h3,.basetype-grid h4,.basetype-grid h5,.basetype-grid h6{text-align:center}.tab-pane{padding-top:2em}.nav-link{font-size:1.1em}.column+.column{margin-top:64px;margin-top:4rem}

/* Small devices (landscape phones, 576px and up) */@media (min-width:576px){.column+.column{margin-top:inherit}}

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}
*/h1,h2,h3,h4,h5,h6{margin-top:0.6em;margin-bottom:0.3em}section h1,section h2,section h3,section h4,section h5,section h6{text-align:center}section h1{font-size:36.8px;font-size:2.3rem;font-weight:200}section h2{font-size:30.4px;font-size:1.9rem;font-weight:400}section h3{text-align:left;font-size:25.6px;font-size:1.6rem;font-weight:200}section h4{text-align:left;font-size:19.2px;font-size:1.2rem;font-weight:400}p{font-size:16px;font-size:1rem}

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	section :--heading {
		font-weight: 400;
	}
}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}
*/nav.side-menu{display:block;position:fixed;bottom:30px;right:30px;width:auto;background-color:transparent;z-index:888}nav.side-menu ul{list-style:none;margin:0;padding:0}nav.side-menu li{text-align:right;margin:10px 0}nav.side-menu a,nav.side-menu a:hover{display:inline-block;position:relative;text-decoration:none;background-color:#dd5138;color:#f1f1f1;text-transform:uppercase;font-weight:600;border-radius:3px;padding:3px 10px;margin:0 30px 0 0;font-size:0.9em}nav.side-menu a:after{content:'';display:inline-block;width:9px;height:9px;border-radius:9px;background-color:#dd5138;position:absolute;right:-25px;top:8px}nav.side-menu a:hover:after,nav.side-menu li.current a:after{width:15px;height:15px;border-radius:15px;right:-28px;top:5px}.basetype-button .btn{display:block;text-transform:uppercase;font-size:16px;font-size:1rem}

/* Small devices (landscape phones, 576px and up) */@media (min-width:576px){.basetype-button .btn{display:inline-block}}

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}
*/.hero-header{background:#016cc7;min-height:auto;padding:48px 16px;padding:3rem 1rem;color:#fff}.hero-header h1,.hero-header h2,.hero-header h3,.hero-header h4,.hero-header h5,.hero-header h6{text-align:center}.hero-header h1{padding-bottom:16px;padding-bottom:1rem}.hero-header h4{color:#f1f1f1;opacity:0.7;padding-top:32px;padding-top:2rem;padding-bottom:48px;padding-bottom:3rem}.hero-header a,.hero-header a:hover{color:#fff;text-decoration:none}

/* Small devices (landscape phones, 576px and up) */@media (min-width:576px){.hero-header{min-height:600px;padding:5em}.hero-header h1,.hero-header h2,.hero-header h3,.hero-header h4,.hero-header h5,.hero-header h6{text-align:left}}

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}
*/footer{margin-top:30px;background-color:#2a2a2a;color:#ccc}.footer-credit{padding:40px}footer p{margin:0}footer a{color:#ccc;text-decoration:underline}footer a:hover{color:#dd5138}.theme-spacer.spacer-small{height:5vh}.theme-spacer.spacer-medium{height:10vh}.theme-spacer.spacer-large{height:15vh}.mobile-nav-container{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:9999;background-color:hsla(0,0%,100%,.8);text-align:center;padding:12em 2em 2em}.mobile-nav-container ul{list-style-type:none;padding:0;margin:0}.mobile-nav-container li{margin-bottom:2em}.mobile-nav-container a{color:#333;font-size:2em;text-transform:uppercase}.mobile-nav-container .current a,.mobile-nav-container a:active{border-bottom:1px solid #000}body.mobile-nav-active{overflow:hidden!important}body.mobile-nav-active .mobile-nav-container{display:block}.mobile-nav-toggle{color:#333;text-decoration:none;font-size:1.4em;letter-spacing:0.1em;text-transform:uppercase;font-weight:lighter;border-bottom:1px solid transparent;margin-right:1.2em}
/*# sourceMappingURL=Main.css.map */
