.hero-header {
	background: #016cc7;
	min-height: auto;
	padding: 3rem 1rem;
	color: #fff;

	:--heading {
		text-align: center;
	}

	h1 {
		padding-bottom: 1rem;
	}

	h4 {
		color: var(--white);
		opacity: 0.7;
		padding-top: 2rem;
		padding-bottom: 3rem;
	}

	a {
		color: #fff;
		text-decoration: none;
	}

	a:hover {
		color: #fff;
		text-decoration: none;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.hero-header {
		min-height: 600px;
		padding: 5em;
	}

	.hero-header :--heading {
		text-align: left;
	}
}

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}
*/
